<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
        background-color: darkslategrey;
    }

    h1 {
        color: skyblue;
    }

</style>
</head>

<!--##NO predefine-->
<body>
    <h1>ADVANCED CALCULATOR</h1><br>
    <img src="static\img.png" height="100" width="100"></img>
    <form method="POST">
        <label>enter expression: </label><br>
        <select class="is-focused is-large" name="operation" aria-label="operationDropdown">
            <option value="choose_operation">Choose Operation</option>
            <option value="simplify">Simplify</option>
            <option value="factor">Factor</option>
        </select>
        <input placeholder="expression" name="text">
        <input type="submit" name="text">
    </form>
        
    <p>Your equation is {{equation}} = {{ result }}</p>


</body>
</html>
